/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
info.text
/.idea
/.vscode
/public
!/public/barcode-images
!/public/import_demo_files
vendor
composer.lock
package-lock.json
yarn.lock
/import_csv